@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


::-webkit-scrollbar{
  background:#9AF1F9;
  width: .3125rem;
}

::-webkit-scrollbar-thumb {
  background: #0BC5EA; 
}

::-webkit-scrollbar-thumb:hover {
  background: #9F7AEA; 
}

.containerMain{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0px 10px;
}

@keyframes translateLeft {
  from {
    transform: translate -100vw 0;
  }
  to {
    transform: translate -100vw 0;
  }
} 

.animaLeft{
  animation: translateLeft 1s ease;
  animation-timeline: view();
}

